# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env/
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Large model cache
.cache/
huggingface/

# Environment variables
.env

# Local DB/csv
*.db
*.sqlite3
*.csv

#python
ALL.py

indexes/
*.faiss       
*.pkl
